@{
    ViewBag.Title = "Contest";
}

@using PIPOSKY2.Models;
@model Contest

<h1>@Model.ContestName</h1>
<table class="table">
    <tr>
        <th>题目ID</th>
        <th>题目名称</th>
    </tr>
    @{
        PIPOSKY2DbContext db = new PIPOSKY2DbContext();
        foreach (var i in db.ContestProblems.Where(p=>p.ContestID == Model.ContestID))
        {
            <tr>
                <th>@i.ProblemID</th>
                <th>@db.Problems.Find(i.ProblemID).ProblemName</th>
            </tr>
        }
    }
</table>