@using PIPOSKY2.Models
@model ContestGroup

@{
    ViewBag.Title = "删除比赛";
}

<h2>删除比赛</h2>
@using (Html.BeginForm("Delete", "Contests", FormMethod.Post, new { role = "form" }))
{
    @Html.TextBoxFor(model => model.ContestGroupID, new { type = "hidden" });
    <table class="table table-striped">
        <tr>
            <th>比赛ID</th>
            <th>比赛名称</th>
            <th>删除比赛</th>
        </tr>
        @{
    PIPOSKY2DbContext db = new PIPOSKY2DbContext();
    foreach (var i in db.Contests.Where(c => c.ContestGroupID == Model.ContestGroupID))
    {
            <tr>
                <td>@i.ContestID</td>
                <td>@i.ContestName</td>
                <td>
                    <input type="checkbox" name="@i.ContestID" /></td>
            </tr>
    }
        }
    </table>
    <button type="submit" class="btn btn-default">确定</button>
}