@using PIPOSKY2.Models
@model PIPOSKY2.Models.Course

@{
    ViewBag.Title = "添加课程";
}

<h2>添加课程</h2>
@using (Html.BeginForm("Add", "Courses", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        <label for="CourseName">课程名称</label>
        @Html.TextBoxFor(model => model.CourseName, new { @class = "form-control", id = "CourseName", placeholder = "课程名称" })
        @Html.ValidationMessageFor(model => model.CourseName)
    </div>
    <button type="submit" class="btn btn-default">确定</button>
}