@using PIPOSKY2.Models
@model Course

@{
    ViewBag.Title = "删除作业";
}

<h2>删除作业</h2>
@using (Html.BeginForm("Delete", "Course", FormMethod.Post, new { role = "form" }))
{
    @Html.TextBoxFor(model => model.CourseID, new { type = "hidden" });
    <table class="table table-striped">
        <tr>
            <th>作业ID</th>
            <th>作业名称</th>
            <th>删除作业</th>
        </tr>
        @{
    PIPOSKY2DbContext db = new PIPOSKY2DbContext();
    foreach (var i in db.Course.Where(c => c.CourseID == Model.CourseID))
    {
            <tr>
                <td>@i.HomeworkID</td>
                <td>@i.HomeworkName</td>
                <td>
                    <input type="checkbox" name="@i.HomeworkID" /></td>
            </tr>
    }
        }
    </table>
    <button type="submit" class="btn btn-default">确定</button>
}