@using PIPOSKY2.Models
@model PIPOSKY2.Models.ContestGroup

@{
    ViewBag.Title = "添加比赛组";
}

<h2>添加比赛组</h2>
@using (Html.BeginForm("Add", "ContestGroups", FormMethod.Post, new { role = "form" }))
{
    <div class="form-group">
        @Html.LabelFor(model => model.ContestGroupName, new { @for = "ContestGroupName" })
        @Html.TextBoxFor(model => model.ContestGroupName, new { @class = "form-control", id = "ContestGroupName", placeholder = "比赛组名称" })
        @Html.ValidationMessageFor(model => model.ContestGroupName)
    </div>
    <button type="submit" class="btn btn-default">确定</button>
}