@using PIPOSKY2.Models
@model Problem
@{
    ViewBag.Title = "Content";
}

<h2>@Model.ProblemName</h2>

<div>
    <pre>@Html.Raw(Model.Description.Replace("\r\n","<br/>"))</pre>
    @Html.Raw(Model.Solution)
    @Html.Raw(Model.Config);
</div>

<p></p>

