@using PIPOSKY2.Models
@model Problem
@{
    ViewBag.Title = "Content";
}

@section Navbar
{
    <li>@Html.ActionLink("Submit","Create","Submit",new {@id=Model.ProblemID},new {})</li>
}
<h2>@Model.ProblemName</h2>

<div>
    @Html.Raw(Model.Content)
</div>

<p></p>

