@using PIPOSKY2.Models
@model Problem
@{
    ViewBag.Title = "Content";
}

<h2>@Model.ProblemName</h2>

<p>
    <pre><code>@Model.Content;</code></pre>
</p>
<div class="panel panel-default" style="position:fixed;bottom:5px;right:5px;margin:0px">
    <div class="panel-heading" style="background:black;color:white">编辑代码</div>
    <div class="panel-body">
        <textarea style="width:500px;height:400px"></textarea>
        <p>
            <button>保存</button>
            <button>提交</button>          
        </p>
    </div>
</div>

<p></p>

