@using PIPOSKY2.Models
@model Problem
@{
    ViewBag.Title = "Content";
}

<h2>@Model.ProblemName</h2>

<p>
    @Model.Content
</p>
<textarea rows="15" cols="150"></textarea>
<p></p>
<button>提交</button>
