@using PIPOSKY2.Models 
@model Problem

@{
    ViewBag.Title = "上传";
    if (Model.ProblemID == null)
    {
        ViewBag.Title = "编辑";
    }
}

<h2>@ViewBag.Title</h2>
@using (Html.BeginForm("Edit","Problem",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <p>题目名称</p>
    <input type="text" name="Name" required="required" class="form-control" value="@Model.ProblemName"/>
    <p></p>
    <input type="file" name="File" accept="" required="required" class="form-control"/>
    <p>@ViewBag.text</p>;
    <br />
    <input type="submit" value="提交" class="btn btn-default" />
}
