@using PIPOSKY2.Models 
@model IEnumerable<Problem>

@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@using (Html.BeginForm("Upload","Problem",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <p>题目名称</p>
    <input type="text" name="Name" required/>
    <p></p>
    <input type="file" name="File" accept="" required/>
    <p>@ViewBag.text</p>;
    <br />
    <input type="submit" value="提交" />
}
