@{
    ViewBag.Title = "Upload";
}

<h2>Upload</h2>
@using (Html.BeginForm("Upload","Problem",FormMethod.Post,new {enctype="multipart/form-data"}))
{
    <p>题目名称：@Html.TextBox("Name")</p>
<input type="file" name="File" accept="application/zip" />
    <br />
    <input type="submit" value="提交" />
}
