@model PIPOSKY2.Models.SubmitFormModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="form-group">
        @Html.LabelFor(model => model.Lang)
        <select name="Lang">
            <option value="cpp">C++</option>
            <option value="java">Java</option>
        </select>
    </div>
    @Html.TextAreaFor(model => model.Source)
            <input type="submit" value="Create" />

}

